body {
	min-height: 1.48rem;
	background-color: #eaeaea;
}

.dark {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: none;
}

.dark p {
	width: 15px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin: -54px 0 0 0;
	font-size: 14px;
	line-height: 14px;
	color: #B5B5B5;
}

.dark p span {
	display: block;
	width: 15px;
	height: 15px;
	margin: 10px 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-image: url(../img/back.png);
}

.page {
	position: relative;
	overflow-y: auto;
	height: 100%;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
}
/*nav*/

.index-nav {
	background: #fff;
	width: 100%;
}

.index-nav nav {
	overflow: hidden;
	margin: 0 .25rem;
}

.index-nav nav a {
	display: inline-block;
	width: 23%;
	height: 3.35rem;
	padding: .1rem 0;
}

.index-nav nav a img {
	display: block;
	margin: .25rem auto;
	width: 1.85rem;
	height: 1.85rem;
}

.index-nav nav a span {
	display: block;
	font-size: .55rem;
	text-align: center;
	color: #333;
}


/*floor*/

.floor {
	margin-top: .5rem;
	background-color: #fff;
	overflow: hidden;
}

.floor .head {
	margin-top: .5rem;
	padding: 0 .5rem .5rem .5rem;
	border-bottom: 1px solid #eee;
	position: relative;
}

.floor .head h4 {
	font-size: 0.8rem;
	color: #333;
	display: inline-block;
	background: url(../img/line.jpg) left center no-repeat;
	padding-left: 1rem;
}

.s_title {
	color: #999;
	font-size: 0.7rem;
}

.timer {
	text-align: right;
	position: absolute;
	right: .5rem;
	top: 0;
}

.timer span {
	background: #333;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	border-radius: 1rem;
	font-size: .6rem;
	display: inline-block;
	text-align: center;
	color: #fff;
}

.limit .pro {
	font-size: .6rem;
	height: 1.5rem;
	line-height: .75rem;
	overflow: hidden;
	font-family: sans-serif;
	color: #333;
}

.limit .price {
	color: #f70;
	margin-bottom: .5rem;
	display: block;
}

.limit .swiper-slide img {
	width: 50%;
	display: block;
	margin: 1rem auto;
}

.limit .swiper-slide a {
	display: block;
	overflow: hidden;
	padding: .5rem;
}


/*grid*/

.box {
	position: relative;
	overflow: hidden;
}

.grid-box1 {
	width: 50%;
	border-bottom: 1px solid #eaeaea;
	padding-top: .75rem;
	margin-left: -1px;
	border-right: 1px solid #f6f6f6;
}

.grid-box2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.grid-box2 ul {
	display: block;
	height: 100%;
	margin-top: -2px;
}

.grid-box2 li,
.brand .grid-box1 li {
	height: 50%;
	border-bottom: 1px solid #eaeaea;
}

.grid-box2 li:nth-child(1),
.brand .grid-box1 li:nth-child(1) {
	border-color: #f6f6f6;
}




/*category-menu*/

.category-menu {
	background: #fff;
	width: 90%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0px;
	z-index: 1001;
	-webkit-transform: translateX(0);
	display: none;
}

.category-menu header {
	overflow: hidden;
	height: 43px;
	background: #EEE;
	border-bottom: 1px solid #E1E1E1;
	padding: 0 0.2rem;
	color: #666;
}

.category-menu header h1 {
	font-size: 0.8rem;
	line-height: 43px;
	font-weight: normal;
}

.category-menu header span {
	font-size: 0.28rem;
	line-height: 43px;
}

.tab-content {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 44px;
	bottom: 0;
}

.tab-nav {
	background: #EEE;
	color: #9B9B9B;
	font-size: 14px;
	text-align: center;
	float: left;
	width: 23%;
	height: 100%;
}

.tab-menu {
	float: left;
	width: 77%;
	height: 100%;
	background: #fff;
}

.tab-nav li {
	cursor: pointer;
	padding: 22px 0;
	border-bottom: 1px solid #E1E1E1;
}

.tab-nav li a {
	color: #333;
	font-size: .7rem;
}

.tab-list dt {
	margin: 1rem .5rem;
	padding-left: .5rem;
	border-left: .2rem solid #353d44;
	font-size: .7rem;
	line-height: .64rem;
	color: #353d44;
}

.tab-list ul {
	overflow: hidden;
}

.tab-list li {
	float: left;
	width: 32%;
	background: #fff;
}

.tab-list li a {
	display: block;
	padding: .26rem 0 .2rem;
	width: 100%;
	height: 4rem;
}

.tab-list li a img {
	display: block;
	margin: 0 auto .16rem;
	width: 2.96rem;
	height: 2.48rem;
}

.tab-list li a p {
	display: block;
	padding: 0 .1rem;
	height: .9rem;
	line-height: .9rem;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: .6rem;
	text-align: center;
	color: #666;
}